@font-face {
  font-family: 'iconfont'; /* Project id 2925926 */
  src: url('//at.alicdn.com/t/font_2925926_mwxbzybt5md.woff2?t=1637826187131') format('woff2'), url('//at.alicdn.com/t/font_2925926_mwxbzybt5md.woff?t=1637826187131') format('woff'), url('//at.alicdn.com/t/font_2925926_mwxbzybt5md.ttf?t=1637826187131') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantouxia:before {
  content: '\e62d';
}

.icon-gougou:before {
  content: '\e651';
}

.icon-zengjia:before {
  content: '\e8c8';
}

.icon-lajitong:before {
  content: '\e682';
}

.icon-bi:before {
  content: '\e7c5';
}

.icon-jia:before {
  content: '\e604';
}

.icon-jian:before {
  content: '\e605';
}

.icon-aixin:before {
  content: '\eca1';
}

.icon-cuocha_kuai:before {
  content: '\ed1e';
}

.icon-shumashouji:before {
  content: '\e603';
}

.icon-shizhong:before {
  content: '\e74f';
}

.icon-qian:before {
  content: '\e663';
}

.icon-24gl-building2:before {
  content: '\e831';
}

.icon-orbit:before {
  content: '\ea06';
}

.icon-line-simcardsimka-02:before {
  content: '\e720';
}

.icon-jiantou:before {
  content: '\e662';
}

.icon-liaotian:before {
  content: '\e63e';
}

.icon-15tianwuliyoutuihuo:before {
  content: '\e606';
}

.icon-liwuhuodong:before {
  content: '\e601';
}

.icon-31dingwei:before {
  content: '\e602';
}

.icon-gongju:before {
  content: '\e614';
}

.icon-7tiantuihuanhuo:before {
  content: '\e61f';
}

.icon-sousuoxiao:before {
  content: '\e8d6';
}

.icon-gouwuchekong:before {
  content: '\e600';
}
