// 通用样式表

// 通用字体大小设置
$fontA: 80px; //标题1
$fontB: 38px; //标题2
$fontC: 28px; //标题3
$fontD: 26px; //标题4
$fontE: 24px;
$fontF: 22px;
$fontG: 20px;
$fontH: 18px;
$fontI: 16px;
$fontJ: 14px;
$fontK: 12px;

// 通用颜色设置

$colorA: #333333 !default;
$colorB: #666666 !default;
$colorC: #999999 !default;
$colorD: #cccccc !default;
$colorE: #b0b0b0 !default;
$colorF: #d7d7d7 !default;
$colorG: #e0e0e0 !default;
$colorH: #f5f5f5 !default;
$colorI: #fffaf7 !default;
$colorJ: #ffffff !default;
$colorK: #000000 !default;
$colorL: #ff6600 !default;
$colorM: #424242 !default;
$colorN: #fafafa !default;
$colorO: #616161 !default;
